!!!
%html
  %header

  %body
    .container
      %h1 You can add a new packet here

      %form{'accept-charset' => "UTF-8",action: "/packets/create",method: "post"}
        %input{type:"hidden",name: "opid",value: "#{@opid}"}
        %input{type:"hidden",name: "ajax",value: "0"}
      
        .input-group
          .input-group-prepend
            %span.input-group-text starttime
            %input{type: "datetime-local",class: "form-control",name: "starttime"}
        
        .input-group
          .input-group-prepend
            %span.input-group-text stoptime
            %input{type: "datetime-local",class: "form-control",name: "stoptime"}
        
        .input-group
          .input-group-prepend
            %span.input-group-text srcip
            %input{type: "text",class: "form-control",name: "srcip"}

        .input-group
          .input-group-prepend
            %span.input-group-text dstip
            %input{type: "text",class: "form-control",name: "dstip"}

        .input-group
          .input-group-prepend
            %span.input-group-text srcport
            %input{type: "number",class: "form-control",name: "srcport"}

        .input-group
          .input-group-prepend
            %span.input-group-text dstport
            %input{type: "number",class: "form-control",name: "dstport"}

        .input-group
          .input-group-prepend
            %span.input-group-text packets
            %input{type: "number",class: "form-control",name: "packets"}

        .input-group
          .input-group-prepend
            %span.input-group-text protocols
            %input{type: "text",class: "form-control",name: "protocols"}

        .input-group
          .input-group-prepend
            %span.input-group-text sessionid
            %input{type: "text",class: "form-control",name: "sessionid"}

        .input-group
          .input-group-prepend
            %span.input-group-text indexname
            %input{type: "text",class: "form-control",name: "indexname"}

        .input-group
          .input-group-prepend
            %span.input-group-text info
            %input{type: "text",class: "form-control",name: "info"}

        .input-group
          .input-group-prepend
            %span.input-group-text pcappath
            %input{type: "text",class: "form-control",name: "pcappath"}

        .input-group
          .input-group-prepend
            %span.input-group-text type
            %input{type: "number",class: "form-control",name: "type"}
        
        %p
          %input{type: "submit",class: "btn btn-primary"} Add this into storage
            
      %p
        %a{href: "/packets?opid=#{@opid}" ,class: "btn btn-warning"} Back